body{
  background-color:rgb(207,186,255);
  text-align:center;
}

h1{
  font-family:"Helvetica", sans-serif;
}

#nav-table{width:880px; text-align:center;}

#nav-td{width:200px; text-align:center;}

#tanya-pic1{
  width: 200px;
  float: left;
  margin-right: 6px;
  margin-bottom: 6px; 
}

#tanya-pic2{
  width: 200px;
  float: left;
  margin-right: 6px;
  margin-bottom: 6px;
}

#tanya-pic3{
  float: right;
  width: 200px;
  margin-left: 10px;
}

#tanya-footer{
  background-color:white;
  padding: 6px;
  clear: both;
}
