body{
  background-color:rgb(207,186,255);
  text-align:center;
}
h1{
  font-family:"italic";
  font-size:xx-large;
}
#nav-table{width:880px; text-align:center;}
#nav-td{width:200px; text-align:center;}
