body{
  background-color:rgb(207,186,255);
  text-align:center;
}

h1{
  font-family:"Helvetica", sans-serif;
}

#nav-table{width:880px; margin:0 auto;}

#nav-td{width:200px; text-align:center;}

#info-table{margin:0 auto;}

#tanya-pic1{
  width: 200px; 
}

#tanya-pic2{
  width: 200px;
}

#tanya-pic3{
  float: right;
  width: 200px;
  margin-right: 200px;
}

#tanya-pic4{
  float:left;
  width: 200px;
  margin-left: 200px;
}

#tanya-footer{
  background-color:white;
  padding: 6px;
  clear: both;
}
